*.pyc
simulations/Figures/*
*eps-converted-to.pdf
*.synctex.gz
*.log
*.aux
viz*
manuscript/wPaper/wpaper.log

manuscript/wPaper/wpaper.aux

manuscript/wPaper/wpaper.synctex.gz

manuscript/wPaper/wpaper.log

manuscript/wPaper/wpaper.synctex.gz

manuscript/wPaper/wpaper.aux

manuscript/wPaper/wpaper.pdf

manuscript/figures2/phase_transition_d05.eps

manuscript/wPaper/wpaper.tex
