*.pyc
.cursor/
simulations/Figures/*
simulations/summary_all.json.zlib
*.json
*.zlib

data/*

*.synctex.gz
*.aux
*.log
*converted-to.pdf
*.pdf

xcode/cPlusPlus2/*

#viz/*

*.pdf

simulations/grid.csv
